{% extends "default.html" %}
{% block heading %}{%if problem.resolved%}[RESOLVED]{%else%}[{{ problem.percent_complete }}%]{%endif%} {{ problem.title }}{% endblock %}
{% block content %}
<section class="overview">
<p><b>Opened by:</b> {{ problem.username }} {%if problem.userauthed%} &#x2713; {%endif%} <b>at</b> {{ problem.date_created|date:"P"}} <b>on</b> {{ problem.date_created|date:"l, F j, Y" }}</p>
{%if problem.resolved%}<p><b>Closed at:</b> {{ problem.date_closed|date:"l, F j, Y, P" }}</p>{%endif%}
<p><b>Assigned to:</b> {%if problem.assigned%}{{ problem.assigned_to }}{%else%}not assigned.{%endif%}</p>

</section>

<h2>References</h2>
<section class="markdown">
{{ problem.markdown_reference|safe }}
</section>

<h2>Description</h2>
<section class="markdown">
{{ problem.markdown_description|safe }}
</section>

{%if problem.replies%}
<h2>Discussion</h2>
{%for reply in problem.replies%}
<div class="reply">
  <div class="user">{{ reply.user.get_full_name }}</div>
</div>
{%endfor%}
{%endif%}

{% endblock %}
