html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    text-align: center;
    font-family: "Roboto",Corbel,Avenir,"Lucida Grande","Lucida Sans",sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

header {
    background: #f5f5f5;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
}

.nav {
    padding: 4px;
}
.nav a {
    color: #222;
}

#center {
    display: inline-block;
    text-align: left;
    padding-bottom: 90px;
}
#content {
    max-width: 1000px;
}

footer {
    background: #f5f5f5;
    border-top: 1px solid #f0f0f0;
    min-height: 74px;
    padding-top: 10px;
    margin: 0px;

    position: absolute;
    width: 100%;
    bottom: 0px;
}
footer ul {
    list-style: none;
}

h1 {
    font-family: "Fira Mono",Consolas,Menlo,Monaco,"Courier New",Courier,monospace;
    margin-bottom: 4px;
}
h2 {
    font-family: "Roboto",Corbel,Avenir,"Lucida Grande","Lucida Sans",sans-serif;
}

p {
    margin: 4px 0 1px 0;
}

input[type="text"], textarea {
    display: block;
    border-width: 1px;
    width: 300px;
    padding: 4px;
}

input[type="submit"], button, .button {
    border-radius: 2px;
    text-align: center;
    padding: 6px;
    min-width: 64px;
    margin-right: 5px;
    border: none;
}

.primary {
    color: white;
    background: -moz-linear-gradient(center top , #dd4134, #d14837);
    background: linear-gradient(center top , #dd4134, #d14837);
}

.secondary {
    color: black;
    background: -moz-linear-gradient(center top , #ececec, #efefef);
    background: linear-gradient(center top , #ececec, #efefef);
}
