html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    text-align: center;
    font-family: "Roboto",Corbel,Avenir,"Lucida Grande","Lucida Sans",sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

header {
    background: #f6f7f8;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
}

.nav {
    padding: 4px;
}
.nav a {
    color: #333;
}

#center {
    display: inline-block;
    text-align: left;
    padding-bottom: 90px;
    max-width: 1000px;
    width: 100%;
}
#content {
    padding: 10px 0;
    width: 100%;
}

footer {
    background: #f6f7f8;
    border-top: 1px solid #f0f0f0;
    min-height: 74px;
    padding-top: 10px;
    margin: 0px;

    position: absolute;
    width: 100%;
    bottom: 0px;
}
footer ul {
    list-style: none;
}

h1,h2,h3 {
    font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.7);
    font-weight: normal;
}
h1 {
    font-size: 48px;
    margin: 4px 0;
}
h2 {
    font-size: 24pt;
}
h3 {
    font-size: 16pt;
}

.markdown {
    background: #f6f7f8;
    padding: 10px;
    border-left: 8px solid #333;
    margin: 6px 12px;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
    font-family: "Roboto",Corbel,Avenir,"Lucida Grande","Lucida Sans",sans-serif
    font-kerning: normal;
    text-shadow: none;
}
.markdown h1 {
    font-size: 16pt;
    martin: 0 0 2px;
}
.markdown h2 {
    font-size: 14pt;
    margin: 4px 0 4px;
}
.markdown h3 {
    font-size: 12pt;
}
.markdown h4 {
    font-size: 11pt;
}
.markdown p {
    margin-left: 4px;
    line-height: 1.16;
}

.overview {
    background: #70a0e0;
    padding: 10px;
}

.reply header .user {
    font-size: 13pt;
}

p {
    margin: 4px 0 1px 0;
}

input[type="text"], textarea {
    display: block;
    border-width: 1px;
    width: 300px;
    padding: 4px;
}

input[type="submit"], button, .button {
    border-radius: 2px;
    text-align: center;
    padding: 6px;
    min-width: 64px;
    margin-right: 5px;
    border: none;
}

.primary {
    color: white;
    background: -moz-linear-gradient(center top , #dd4134, #d14837);
    background: linear-gradient(center top , #dd4134, #d14837);
}

.secondary {
    color: black;
    background: -moz-linear-gradient(center top , #ececec, #efefef);
    background: linear-gradient(center top , #ececec, #efefef);
}
